*
  margin: 0
  padding: 0
  font-family: 'Indie Flower'

html
  font-size: 12px
  color: white

body
  background-color: #197dd1
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh

h1
  text-transform: capitalize
  font-size: 4rem
  text-align: center
  margin-bottom: 1rem

#input
  border: none
  background-color: #004c8b
  border-radius: .3rem 0 0 .3rem
  width: 45rem
  height: 3rem
  color: #b3b0b0
  font-size: 1.5rem
  padding: 0 1rem
  letter-spacing: .2rem
#input:focus
  outline: none

::placeholder
  color: #b3b0b0
  font-size: 1.3rem

#button
  border: none
  height: 3rem
  width: 5rem
  border-radius: 0 .3rem .3rem 0
  margin-left: -4px
  background-color: white
  font-size: 1.5rem

#todos
  width: 52rem
  margin-top: 2rem

  li
    list-style: none
    font-size: 1.8rem
    background-color: #2f93e6
    padding: .5rem 1rem
    border-bottom: solid 1px #197dd1
